.btn-social {
    font-size: 1.15rem;
}

.btn-social-icon {
    width: 20px;
    height: 20px
}

pre {
    color: white;
    font-family: Open Sans;
}

.spotify-background {
    background: #1DB954;
}
.spotify-bg-secondary {
    background: rgb(24, 24, 24);
}
.spotify-bg-tertiary {
    background: rgb(40, 40, 40);
}

.btn-spotify {
    background: #1DB954;
    color: rgb(255, 255, 255);
    transition: color .15s ease-in-out
}

.btn-spotify:hover {
    color: rgb(214, 205, 205);
}

.spotify-media-bar {
    height: 90px;
}

/* Album art inside Spotify bar */
.album-art {
    max-width: 70px;
    max-height: 70px;
}

/* Spotify bar - current track progress */
.spotify-progress-bar {
    height: 7px;
    background: rgb(64, 64, 64);
}

.spotify-progress-bar-inner {
    background: rgb(179, 179, 179);
}

.spotify-button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.settings-key {
}

.settings-value {
    font-weight: lighter;
}

/* Custom scrolbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.navbar {
    height: 50px;
}

.lyricsFill {
    width: 100%;
    height: calc(100% - 90px - 50px);
}

.overflow-y {
    overflow-y: auto;
}

.settings-btn {
    position: fixed;
    right: 10px;
    margin-top: 5px;
}

.spotify-separator {
    margin: 0px;
    margin-bottom: .75rem;
    background: rgb(40, 40, 40);
}

.close-settings-btn {
    font-size: 36px;
}

/**/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    display: flex;
    flex-direction: column;
  }
    
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: relative;
    top: 0;
    margin-left: 200px;
    font-size: 36px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    /*padding: 20px;*/
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }