:root {
    --navbar-height: 56px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Make everything match 100%, set font white */
html, body, #root {
    height: 100%!important;
    color: white;
}

.genify-home {
    height: calc(100% - var(--navbar-height));
}

.genify-navbar {
    height: var(--navbar-height);
}
